.Navbar{
    height: 80px;
}

.wrapper{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
}

.item{
    display: flex;
    align-items: center;
    font-size: 19px;
}

.left{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 25px;
}

.center{
    display: flex;
    font-size: 32px;
    letter-spacing: 3px;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.right{
    display: flex;
    align-items: center;
    gap: 25px;
}

.icons{
    display: flex;
    align-items: center;
    gap: 14px;
    color:rgb(70, 98, 124);
}

.cartIcon {
    position: relative;
}
            
.cartIcon span {
    font-size: 11px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(119, 38, 173);
    color: white;
    position: absolute;
    right: -10px;
    top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 400px;
    height: auto;
    transition: transform 0.3s ease;
}

  .logo:hover {
    transform: scale(1.1); /* Increase the scale to make it slightly bigger */
    cursor: pointer;
  }

/* Search Bar Styling */

.searchBar {
    display: flex;
    align-items: center;
    margin-top: 10px;
    position:relative;
    
  }
  
  .searchInput {
    padding: 8px;
    border: none;
    border-radius: 4px;
    outline: none;
    width: 200px;
    background-color: #e0e0e0;
  }
  
  .searchButton {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 4px;
    margin-left: 8px;
    cursor: pointer;
  }
  
  .searchButton:hover {
    background-color: #e0e0e0;
  }

  .searchBox {
    position: relative;
  }

  .dropDownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid white;
    border-top-width: none;
    border-bottom-width: none;
  }

  .DropDownMenu:empty {
    border:none
  }

  .dropDownRow {
    padding: 8px;
    cursor: pointer;
  }

  .dropDownRow:hover {
    background-color: #f2f2f2;
  }
  