.cart-summary-page {
    position: absolute;
    right: 20px;
    top: 80px;
    z-index: 999;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);
  }
  
  .cart-summary-page h1 {
    margin-bottom: 30px;
    color: gray;
    font-weight: 400;
    font-size: 24px;
  }
  
  .cart-summary-page .item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
  }
  
  .cart-summary-page .item image {
    width: 80px;
    height: 100px;
    object-fit: cover;
  }
  
  .cart-summary-page .total {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .cart-summary-page button {
    width: 250px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    border: none;
    background-color: #2879fe;
    color: white;
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  .cart-summary-page .reset {
    color: red;
    font-size: 12px;
    cursor: pointer;
  }
  