.footer {
  background-color: white;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.logo img {
  width: 150px;
  height: auto;
  margin-right: 150px;
}

.copy-text {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: bold;
}

.social-media {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  align-items: center;
  gap: 20px;
}

.social-media a {
  display: inline-block;
  margin-left: 10px;
  color: black;
  text-decoration: none;
}

.social-icon {
  width: 30px; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
  display: flex;
}


