.product {
    /* Existing styles */
    /* Add the following styles to make the products smaller */
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    margin-top: 50px;
  }


  /* .product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items: center;
  } */
  
  h2 {
    /* Existing styles */
    /* Add the following styles to adjust the font size */
    font-size: 18px;
  }
  
  img {
    /* Existing styles */
    /* Add the following styles to adjust the image size */
    max-width: 100%;
    height: auto;

  }
  
  p {
    /* Existing styles */
    /* Add the following styles to adjust the font size */
    font-size: 14px;
  }
  
  .addToCart {
    /* Existing styles */
    /* Add the following styles to adjust the button size and shape */
    padding: 5px 5px;
    font-size: 1em; /* Adjust the font size as needed */
    color: white;
    font-weight: bold;
    background-color: #48C2F9;
    border: none;
    border-radius: 5px; /* Add border-radius to give rounded edges */;
    margin: auto;
  }
  
  