.allProducts {
    display: grid;
    flex-direction: column;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 120px;
    justify-content: center;
    margin: 0 auto; /* Add margin: 0 auto; to horizontally center the grid */
    max-width: 960px; /* Adjust the max-width as per your preference */
  }

  .productContainer {
    display: flex;
    flex-direction: column;
  }
  
  .buttonContainer {
    display: flex;
    gap: 10px; /* Adjust the gap as per your preference */
    align-items: center; /* Center buttons vertically */
  }
  
  .Favorites {
    background: transparent;
    border: none;
    padding: 0;
    scale: 0.5;
  }

  
  
  
  
  