.container
{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}  

.candy-display
{
    margin-bottom: 20px;
} 

.candy-display button 
{
    border-radius: 10px;
}

.review-form
{
    margin-bottom: 20px;
} 

.review-form textarea 
{
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
}  

.review-form button[type="submit"]
{
    padding:10px 20px;
    background-color: #ff0062;
    color: #fff;
    border:none;
    cursor:pointer;
    border-radius:10px;
}

.review-specifics
{
    /* margin-bottom: 20px; */
    /* padding: 5px; */
    border: 2px solid rgb(68, 144, 214);
    border-radius:10px;
    padding: 1.5rem;
    margin: 3rem;
    
}

/* .review-specifics
{
    color:rgb(68, 144, 214) ;
} */

.review h2 
{
    font-size: 18px;
    margin-bottom: 5px;
}

.review p 
{
    margin: 0;
}

.retrError 
{
    margin-bottom: 20px;
}

.retrError h1 
{
    font-size: 18px;
    margin: 0;
}


/* .overallSignIn .auth-form-container{
    padding: 3.5rem;
    border: 1px solid white;
    border-radius:10px;
    margin: 0.5rem;
} */